body {
    font: 0.8em Arial;
    background-image: url("abstract_green.jpg");
    filter: brightness(1);
}
li a {
    font-size: 18px;
}
.user_list{
    margin: 0px -46px 10px 10px;
}

#userlist_img{    
    display: inline;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* padding: 10px; */
    /* background: #ddd; */
}
.chat {
    margin: 30px 0px 32px 17px;

    width: auto;
}
.chat .messages{
    border:1px solid #ccc;
   width: 500px;
    height: 600px;
    padding:10px;
    overflow-y:scroll;
    margin-top: 39px;
}

.chat .messages::-webkit-scrollbar{
    width: 10px;    
}
.chat .messages::-moz{
    width: 10px;    
}
.chat .messages::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #ddd;
}
.chat .messages::-moz-scrollbar-thumb{
    border-radius: 10px;
    background: #ddd;
}
.chat .message a{
    color:slategrey;
    font-size: 16px;
}

.chat .message p{
    margin: 5px 0;
    font-size: 16px;
}

.chat .entry {
    padding: 5px;
    margin-top: 5px;
    font: 1em Arial;
   width: 500px;
    height: 80px;
    border: 2px solid #ccc;
    padding: 10px;
    font-size: 18px;
    resize: none;
    
    border-radius: 3px;
    color: #999;
}
.chat .entry:focus{
    background: yellow;
    color: black;
}
.message_text {
    display: flex;
    flex-flow: row;
    align-items: flex-start;  
    flex-direction: column;
    margin-bottom: 7px;

    /* order: -1; */
}

.message_text img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ccc;
}
.message_text p{
    border-radius: 10px;
    padding: 15px;
    color: white;
    font-size: 18px;    
    order: -1;
    border-radius: 1.3em;
}
.me {
    flex-direction: row-reverse;
}
.me p{
    background: red;
    text-align: right;
    /* order: -1; */
    align-self: flex-end;
    
}
.me img{

    align-self: flex-end;
    order: -1;
}
.friend{
    flex-direction: row;
}
.friend p{
    background: blue;

}

.friend img{
    align-self: flex-start;
    order: -1;
}