<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/NoteCar.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>


        <!-- comments container -->
        <div class="comment_block">

            <!-- new comment -->
            <div class="new_comment">

                <!-- build comment -->
                <ul class="user_comment">

                    <!-- current #{user} avatar -->
                    <div class="user_avatar">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/73.jpg">
                    </div><!-- the comment body --><div class="comment_body">
                        <p>Gastropub cardigan jean shorts, kogi Godard PBR&B lo-fi locavore. Organic chillwave vinyl Neutra. Bushwick Helvetica cred freegan, crucifix Godard craft beer deep v mixtape cornhole Truffaut master cleanse pour-over Odd Future beard. Portland polaroid iPhone.</p>
                    </div>

                    <!-- comments toolbar -->
                    <div class="comment_toolbar">

                        <!-- inc. date and time -->
                        <div class="comment_details">
                            <ul>
                                <li><i class="fa fa-clock-o"></i> 13:94</li>
                                <li><i class="fa fa-calendar"></i> 04/01/2015</li>
                                <li><i class="fa fa-pencil"></i> <span class="user">John Smith</span></li>
                            </ul>
                        </div><!-- inc. share/reply and love --><div class="comment_tools">
                            <ul>
                                <li><i class="fa fa-share-alt"></i></li>
                                <li><i class="fa fa-reply"></i></li>
                                <li><i class="fa fa-heart love"></i></li>
                            </ul>
                        </div>

                    </div>



                </ul>

            </div>



        </div>
        <script src="js/jquery-1.12.1.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
    </body>
</html>
